<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      |
      <a href="/auth/google" class="login">LOG IN</a>
      |
      <a href="/logout">LOG OUT</a>
    </nav>
  </body>
</html>
