<%- include('./partials/header') %>

<h1 class="home-title">Slice Is Life</h1><br>
<main class="landing-page"></main>
<p class="home-info">Welcome to Slice Is Life, a blog devoted to all things Pizza. </p>

<%- include('./partials/footer') %>