<%- include('./partials/header') %>

<main class="landing-page">
  <h1 class="home-title">Slice Is Life</h1><br>
  <img src="/images/landing_page.png" class="landing-img">
  <p class="home-info">Welcome to Slice Is Life, a blog devoted to all things: Pizza. Please keep all communications kind, courteous and clean(ish)</p>
</main>

<%- include('./partials/footer') %>