body {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>main {
  background-color: #121212;
  color: #fff;
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #333;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.new-post input[type="text"],
.new-post textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.new-post button {
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-post button:hover {
  background-color: #45a049;
}

.edit-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #333;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.edit-post input[type="text"],
.edit-post textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.edit-post button {
  width: 100%;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-post button:hover {
  background-color: #45a049;
}

.delete-post button,
.like-post button,
.unlike-post button,
.post-comment button {
  margin-top: 4px;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #45a049;
}

nav {
  background-color: #1c1c1c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

nav a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #4caf50;
}

nav a.login {
  float: right;
  margin-right: 40px;
}

.post {
  background-color: #222;
  margin: 20px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.post h2 {
  color: #4caf50;
}

.post p {
  color: #ccc;
}

.comments {
  margin-top: 20px;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px;
}

.comment {
  padding: 5px;
  border-bottom: 1px solid #333;
}

.comment:last-child {
  border-bottom: none;
}

textarea {
  width: 96%;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.post-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-actions form,
.post-actions a {
  margin-right: 10px;
}

.new-post {
  margin-top: 20px;
}

.login img {
  height: 35px;
  padding-left: 10px;
}

.avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.avatar-name {
  font-size: 15px;
}

.comment-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.landing-img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  padding-bottom: 100px;
  margin: 0;
}

.home-title {
  font-size: 125px;
  margin: 15px 0;
  color: #4CAF50;
  padding-bottom: 80px;

}

.home-info {
  margin: 15px 0;
  padding-bottom: 40px;
}

.blog-title,
.new-title,
.edit-title {
  color: #4CAF50;
  font-size: 50px;
}