<%- include('../partials/header') %>

<h1 class="new-title">NEW POST</h1>

<form class="new-post" action="/posts" method="POST">
  <input placeholder="Post Title" type="text" name="title" required>
  <input type="text" name="image" placeholder="Image URL">
  <textarea placeholder="Type Your Post Here" name="content" rows="10" cols="50" required>
  </textarea>
  <button type="submit">Post</button>
</form>

<%- include('../partials/footer') %>