<%- include('../partials/header') %>

<form class="new-post" action="/posts" method="POST">
  <label for="title"></label>
  <input placeholder="Post Title" type="text" name="title" required>
  <label for="content"></label>
  <textarea placeholder="Type Your Post Here" name="content" required>
  </textarea>
  <label>Image URL</label>
  <input type="text" name="image" placeholder="Image URL">
  <button type="submit">Create Post</button>
</form>

<%- include('../partials/footer') %>